body {
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

#homepage {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#homepage-img {
  position: relative;
  top: 0;
  left: 0;
  height: 131vh;
  width: 100vw;
  background-image: url("./assets/images/Keyboard and notes.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 -152px;
}

#homepage-filter {
  width: 100vw;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 59, 40%);
  z-index: 1;
}

#homepage-wave {
  width: 2093.38px;
  height: 221.45px;
  background-image: url("./assets/svgs/Wave.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -280px;
  top: 85vh;
  z-index: 2;
}



