* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  /*min-height: 100vh;
  min-height: -webkit-fill-available; */
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  font-size: 2vw;
}

.App {
  display: flex;
  flex-direction: column;
}

a, a:active, a:focus, a:visited {
  text-decoration: none;
}



.wrapper {
  width: 100%;
}

.page-content {
  max-width: 1440px;
  margin: 0 auto;
}


@media (min-width: 1281px) {
  
  }

