#about-main-scroll {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-column-1, #about-column-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#about-column-1 {
    top: 60px;
}

#about-icon-div {
    height: 22.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 20%;
    padding-bottom: -5%;
} 

#about-icon-div svg {
    width: 100%;
    height: 45%;
    padding-bottom: 5px;
}

.column-icontext-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#icontext-h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
}

#icontext-h1 span {
    color: #79C99E;
}

#icontext-p {
    width: 85%;
    font-size: 20px;
    position: relative;
    left: 4%;
}

#about-column-2 {
    margin-bottom: 10%;
}

#about-column-2 .column-icontext-div {
    width: 80%;
}

#about-column-2 .column-icontext-div {
    width: 80%;
}

#about-column-2 #icontext-p{
    width: 80%;
    font-size: 22px;
    position: relative;
    left: 0;
}

#column2-text {
    margin: 5% 0;
}

.dark {
    background-color: #2E3847;
}

.light {
    background-color: #3D4B5E;
}

#about-column-2 .values-box {
    width: 75%;
    min-height: 150px;
    height: 175px;
    max-height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.values-box h2 {
    color: #79C99E;
    padding-left: 5%;
}

.icontext-div {
    width: 90%;
    color: white;
    align-self: center;
}

.icontext-div #icontext {
    width: 100%;
    font-size: 18px;
}

#greenbar-divider {
    position: absolute;
    top: 16.5%;
    left: 50%;
    height: 70.5%;
}

@media screen and (max-width: 768px) {
    #about-column-1 {
        display: none;
    }

    #about-column-2 {
        width: 100%;
        margin-bottom: 0;
    }

    .column-icontext-div {
        width: 75%;
    }

    #icontext-h1 {
        width: 100%;
    }

    #icontext-p {
        width: 100%;
        left: unset;
        margin-bottom: 25px;
    }

    #about-column-2 .values-box {
        width: 90%;
        height: unset;
        max-height: unset;
        margin-bottom: 10%;
    }

    .values-box h2 {
        margin-bottom: -5px;
    }
    
    .icontext-div #icontext-p {
        font-size: 16px;
    }
    
    #greenbar-divider {
        display: none;
    }
}