#contact-box-wrapper {
    height: 250px;
    max-height: 250px;
    background-color: #3D4B5E;
}

#contact-box { 
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-box h1{
    color: white;
    font-size: 36px;
    margin-top: 0;
}

#contact-box button {
    width: 150px;
    height: 35px;
    background-color: #79C99E;
    border: none;
    border-radius: 25px;
    color: white;
}


@media screen and (max-width: 768px) {
    #contact-box {
        height: 100px;
    }

    #contact-box h1 {
        display: none;
    }

    #contact-box button {
        width: 50%;
        height: 30%;
        font-size: 16px;
    }
}