#homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100%; 
    /*min-height: calc(100vh - 15vh) ;*/
    position: relative;
  }
  
  #homepage-img {
    position: relative;
    top: 0;
    left: 0;
    height: 131vh;
    width: 100vw;
    z-index: -1;
    background-image: url("../images/Keyboard and notes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: 0 -152px;
  }

  /*#homepage-img img {
    height: 100%;
    width: 100%;
  }*/
  
  #homepage-filter {
    width: 100vw;
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 59, 40%);
    z-index: 0;
  }
  
  /* Home Page Text Inside the Filter */
  #homepage-text {
    width: 100vw;
    height: 58vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 5;
  }
  
  #homepage-text p {
    font-size: 20px;
    font-weight: 500;
  }
  
  #mission-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #mission-box #arrow2{
    transform: rotate(180deg);
  }
  
  #homepage-text h1 {
    font-size: 2.5em;
    font-weight: 200;
    margin-top: 10px;
  }
  
  #homepage-text button {
    width: 128px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0);
    border: 2.5px solid white;
    border-radius: 15px;
    color: white;
    align-self: flex-end;
  }
  
  #homepage-text button:hover {
    border: 2.5px solid #1985A1;
  }
  
  /* HomePage Follow contacts inside the filter */
  
  #homepage-contacts {
    width: 5vw;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  
  /* HomePage Wave CSS  width: 2093.38px; height: 221.45px;*/
  #homepage-wave {
    width: 150vw;
    height: 27.7vh;
    background-image: url("../svgs/The Wave.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -15vw;
    top: 85vh;
    z-index: 1;
  }
  
  
  /*  Core Values Section in HomePage */
  main #core-values-section {
    width: 100vw;
    min-height: 100%;
    position: relative;
    top: -15vh;
    left: 0;
    text-align: center;
    z-index: 3;
  }
  
  main #core-values-section h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
  }
  
  main #core-values-section h2 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
  }
  
  main #core-values-section h3 {
    display: unset;
    color: #79C99E;
    font-size: 30px;
    font-weight: normal;
    margin: 50px 25px 50px 0;
  }
  
  main #core-values-about-text {
    display: unset;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  main #core-values-about-text img {
    display: unset;
    position: relative;
    top: .3vh;
  }
  
  main #core-values-section #logo {
    position: relative;
    left: 0;
    top:0;
    width: 8.5vw;
    height: 16vh;
  }
  
 #core-values-wave {
    position: absolute;
    right: -17vw;
    bottom: 0%;
    z-index: 0;
  }
  
  #tree-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    z-index: 0;
  }
  
  #little-tree {
    position: absolute;
    bottom: -7vh;
    left: -1.5vw;
    width: 33.5vw;
    height: 72vh;
  }
  
  #big-tree {
    position: absolute;
    bottom: -7.5vh;
    right: -5vw;
    width: 42.3vw;
    height: 85vh;
  }


  @media screen and (max-width: 768px) {

    #homepage-img {
      height: 85vh;
      background-size: cover;
      background-position: center;
    } 

    #homepage-filter {
      height: 100%;
    }

    #homepage-text {
      height: 85%;
      width: 99%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    #homepage-text p{
      font-size: 16px;
    }

    #homepage-text h1 {
      font-size: 1.8rem;
    }

    #mission-box img{
      width: 14px;
    }

    #homepage-text button {
      width: 100px;
      font-size: 14px;
      border: 2px solid white;
    }

    #homepage-contacts {
      width: 100%;
      height: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      bottom: 17.5%;
      display: none;
    }

    #homepage-wave {
      top: unset;
      height: 25%;
      bottom: 0%;
      left: -30%;
      z-index: 2;
    }

    /* homepage core values section */


    main #core-values-section {
      height: 100%;
      top: -10vh;
    }

    main #core-values-section h1{
      font-size: 36px;
    }

    main #core-values-section h2{
      font-size: 30px;
      font-weight: 500;
    }

    main #core-values-section h3 {
      font-size: 25px;
      margin: 50px 20px 50px 0;
  
    }

    main #core-values-about-text img {
      display: unset;
    }

    main #core-values-section #logo {
      width: 25vw;
      position: relative;
      left: 0;
      top: -7.5vh;
    }

    #core-values-wave {
      position: absolute;
      left: -10%;
      height: 20%;
      bottom: 0%;
      z-index: -1;
    }

    #tree-div {
      position: relative;
      bottom: 0;
      display: none;
    }
    
    
    #little-tree {
      position: absolute;
      bottom: -38.5%;
      left: -10%;
      width: 50vw;
      height: 72vh;
      display: none;
    }

    #big-tree {
      position: absolute;
      bottom: -45.6%;
      right: -15%;
      width: 60vw;
      height: 85vh;
      display: none;
    }

  }