.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 10;
}

.navbar img {
    width: 22.5vw;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    left: .75vw;
    /*top: 2vh; */
}

.navbar #nav-links  {
    width: 36vw;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    /*top: 50%;*/
    right: 2.5vw;
}

#nav-links a {
    font-size: 20px;
    text-decoration: none;
}

.navbar button {
    font-size: 20px;
    border: none;
    border-radius: 17px;
    width: 101px;
    height: 33px;
    color: white;
}

.active {
    background-color: rgba( 255, 255, 255, 1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 25%);
}

.active #logo {
    display: flex;
    align-items: center;
    position: relative;
    /*top: 26.5px;*/
    right: 3vw;
}

.navbar #nav-links2  {
    width: 36vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 2.2vw;
}

#nav-links2 a {
    color: #A7A7A7;
    font-size: 20px;
    text-decoration: none;
}

.dark-font a{
    color: #A7A7A7;
}

.light-font a{
    color: white;
}

.navbar button{
    color: white;
}

#nav-links2 button a {
    color: white;
}

.blue {
    background-color: #1985A1
}

.green {
    background-color: #79C99E;
}




