.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 10;
}

.logo-div {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 18vw;
    height: 100px;
}

#navbar a {
    text-decoration: none;
}

.logo-div h1 {
    font-family: "Shopify Sans Web";
    font-size: 34px;
    color: rgba( 255, 255, 255, .9);
    letter-spacing: .45vw;
    font-weight: 400;
    text-shadow: 0px 3px 10px rgba( 0, 0, 0, .25);
    text-decoration: none;
}
.navbar #nav-links  {
    width: 36vw;
   /* height: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /*top: 50%;*/
    right: 1.5vw;
}

#nav-links a {
    font-size: 20px;
    text-decoration: none;
}

.navbar button {
    font-size: 20px;
    border: none;
    border-radius: 17px;
    width: 101px;
    height: 33px;
    color: white;
}

div .menu-toggle {
    display: none;
    z-index: 99999999999;
    cursor: pointer;
}

#mobile-menu .bar {
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color:#2E3847;;
    border-radius: 25px;
}

.active {
    background-color: rgba( 255, 255, 255, 1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 25%);
}

.active #logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar #nav-links2  {
    width: 36vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 1.5vw;
}

#nav-links2 a {
    color: #A7A7A7;
    font-size: 20px;
    text-decoration: none;
}

.dark-font a{
    color: #A7A7A7;
}

.light-font a{
    color: white;
}


@media screen and (max-width: 768px) {

    .navbar {
        width: 100%;
        height: 50px;  
    }

    .logo-div {
        width: 100vw;
        height: 50px;
        position: fixed;
    }
    
    .logo-div #logo {
        position: relative;
        left: 5vw;
        height: 35px;
    }

     #ZayneTech { 
        font-family: "Shopify Sans Web";
        font-size: 34px;
        color: rgba( 255, 255, 255, .9);
        letter-spacing: .45vw;
        font-weight: 400;
        text-shadow: 0px 3px 10px rgba( 0, 0, 0, .25);
        text-decoration: none;
        position: absolute;
        top: -5%;
        z-index: 11;
        color: white;
    }
    
    .logo-div .menu-toggle {
        display: block;
        position: relative;
        right: 10vw;
    }

    .logo-div #mobile-menu .bar {
        display: block;
        z-index: 50;
    }

    .navbar #nav-links2 {
        width: 100vw;
        height: 100vh;
        line-height: 100px;
        background-color: #2E3847;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        left: -100vw;
        z-index: 10; 
        transition: .5s;
    }

    #nav-links2.active-mobile {
        position: fixed;
        left: 0;
    }

    body.active-mobile {
        height: 100%;
        overflow: hidden;
    }

    #nav-links2 a{
        color: white;
    }
    
    .active-links {
        left: -100vw;
    }
     
}

